html, body {
	padding: 0;
	margin: 0;
}

.bio {
	color: #777;
	font-family: Arial; 
	margin-right: 20px;
	margin-left: 20px;
	letter-spacing: .5px;
}

.vik {
	float: left;
	padding-right: 30px;
	padding-top: 30px;


}

h1{
	background-color: #4aaaa5;
	font-size: 30px;
	height: 90px;
	width: 400px;
	text-align: center;
	float: left;

}

header {
	overflow: auto;

}

html {
	background-image: url(../images/small_steps.png);
}


h2 {
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
}

h3 {
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	

}

#wrapper {
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;


}

header h1 {
	color: #777;
	line-height: 80px;
	margin-left: 200px;
}

.main_menu {
	padding: 5px 80px 5px 0px;
	line-height: 10px;
	background-color: #fff;
	margin-top: 50px;
	margin-left: 300px;
	

}

nav {
	float: left;
}

.ul.main_menu {
	margin-top: 20px;
	float: left;
	margin-right: 30px;
}

.main_menu li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

.main_menu a {
	text-decoration: none;
	color: #777;
	padding: 8px;
}

.main_menu a:hover {
	color: #4aaaa5;

}

.aboutme {
	background-color: #fff;
	width: 600px;
	height: 390px;
	padding: 30px;
	margin-left: 100px;
	margin-top: 50px;
}

.contact {
	background-color: #fff;
	width: 700px;
	height: 390px;
	padding: 30px;
	margin-left: 100px;
	margin-top: 50px;
	
}

.portfolio {
	background-color: #fff;
	width: 700px;
	height: 400px;
	padding: 30px;
	margin-left: 100px;
	margin-top: 50px;
}




hr {
	margin-top: 25px;

}

.bio {
	padding-top: 25px;

}

.connectwithme {
	height: 300px;
	width: 300px;
	background-color: #fff;
	text-align: center;
	margin-left: 900px;
	margin-top: -410px;
	clear: right;

}


#apps {
	margin-left: 90px;
}

#websites {
	margin-left: 60px;

}

#hangman {
	margin-top: 5px;
	margin-left: 90px;
}

#trivia {
	margin-left: 60px;
}

#weather {
	margin-top: 5px;
	margin-left: 90px;
}

.git {
	float: left;
	padding-left: 40px;
}

.instagram {
	float: left;
	padding-left: 40px;

}




#footer {
	height: 70px;
	width: 100%;
	color: #fff;
	background-color: #666;
	text-align: center;
	position: absolute;
	bottom: 0;
	border-top: 5px solid #4aaaa5;

	

}

#footer p {
	margin-top: 30px;
	
}










